.pin-widget-container {
    spacing: 16px;
    margin-top: 10px;
}

.pin-dots-box {
    spacing: 24px;
    margin-bottom: 20px;
    margin-top: 10px;
}

.pin-dot {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: transparent;
}

.pin-dot.pin-dot-filled {
    background-color: white;
    border-color: white;
}

.numpad-container {
    row-spacing: 12px;
    column-spacing: 12px;
}

.numpad-button {
    font-size: 20pt;
    font-weight: bold;
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 999px;
    width: 64px;
    height: 64px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.numpad-button:hover, .numpad-button:focus {
    background-color: rgba(255, 255, 255, 0.3);
}

.numpad-button:active {
    background-color: rgba(255, 255, 255, 0.5);
}

.numpad-action-button {
    background-color: rgba(255, 50, 50, 0.2);
}
.numpad-action-button:hover, .numpad-action-button:focus {
    background-color: rgba(255, 50, 50, 0.4);
}

.use-password-button {
    margin-top: 16px;
    padding: 8px 16px;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    font-size: 11pt;
    background-color: transparent;
}
.use-password-button:hover, .use-password-button:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
}
